/* TITLE */
#title {
  text-align: center;
}
/* Ideas */
.idea-container {
  height: 20vh;
  width: 75%;
  margin: 5vh auto 0 auto;
}
.idea-title {
  display: inline-block;
  height: 100%;
  width: 20%;
  background-color: #4b8bf4;
  color: white;
}
.idea {
  position: absolute;
  height: 20vh;
  display: inline-block;
  /*height: 100%;*/
  width: 60%;
  background-color: #ecf0f1;
  margin: 0;
  border: 3px dotted;
}
/* Colours */
#local-area .idea-title {
  background-color: #3399FF;
}
#problem-area .idea-title {
  background-color: #FF3399;
}
#type-of-area .idea-title {
  background-color: #FFC000;
}
#local-area .idea {
  border-color: #3399FF;
}
#problem-area .idea {
  border-color: #FF3399;
}
#type-of-area .idea {
  border-color: #FFC000;
}
/* FOOTER */
#generate-bar {
  cursor: pointer;
}
#generate-title {
  font-size: 30px;
  font-weight: 500;
  text-align: center;
  margin: auto;
}

/* GENERAL */
.inline-flexbox {
  display: inline-flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
}

@media screen and (max-width: 900px) {
  .idea-title {
    width: 40%;
  }
  .idea-container {
    /*margin: 5vh 0 0 0;*/
    width: initial;
  }
}
